.card-wrapper {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.87);
    border-radius: 4px;
    overflow: hidden;
    height: 100%;
}

.card-content:nth-child(last) {
    padding-bottom: 24px;
}

.card-content {
    padding: 16px;
}

