@import "./utils/styles/media.css";

.App {
  text-align: center;
}

Link {
  text-decoration: none;
}

body {
  font-weight: 500;
  font-size: 13px !important;
  line-height: 1.42857143 !important;
  color: #5E5E5E !important;
  background-color: #f7f7f7;
}

#main {
  padding-top: 71px;
  position: relative;
}

#root-inner {
  position: relative;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/***********************
*** START CUSTOM CSS ***
***********************/

#root {
  height: 100%;
}

.card {
  margin-bottom: 16px;
  border-radius: 4px;
}

#main {
  padding-top: 71px;
}

.flexbox {
  display: flex;
  height: calc(100vh - 90px);
}

a {
  text-decoration: none;
  cursor: pointer;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -16px;
  margin-left: -16px;
}

.col-lg-3, .col-lg-9 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 16px;
  padding-left: 16px;
}

