@import "material/assets/styles/media.css";
@import "material/assets/styles/cards.css";
@import "material/assets/styles/misc/misc.css";
@import "material/assets/styles/misc/tags.css";
@import "antd/dist/antd.css";

.App {
  text-align: center;
}

Link {
  text-decoration: none;
}

body {
  font-weight: 500;
  font-size: 13px !important;
  line-height: 1.42857143 !important;
  color: #5E5E5E !important;
  background-color: #f7f7f7;
}

#main {
  height: 100%;
  padding-top: 55px;
  position: relative;
}

#root-inner {
  position: relative;
}

.MuiCircularProgress-root {
  width: 60px !important;
  height: 60px !important;
  margin-left: 50%;
  margin-top: 30%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/***********************
*** START CUSTOM CSS ***
***********************/

#root {
  height: 100%;
}

.flexbox {
  display: flex;
  height: calc(100vh - 90px);
}

a {
  text-decoration: none;
  cursor: pointer;
}



